*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.jpeg
*.pyc
*.mp4
*.avi
*.jpg
*.zip
*.weights
*.rar
*.txt
*.labels
*.74
old/
data/
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
darknet
.fuse*
.zip
# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
